body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-image: url(../imagens/fundindicria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
html {
    background-color: #f0f4f8 ;
    font-family: Times;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0b3d91;
    color: white;
    padding: 20px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: #1a73e8;
}

header p {
    text-align: right;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #003366;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color:  #1a73e8;
}

footer {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}